html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #336abc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ant-layout {
  background: #f0f2f5;
}

.ant-layout-header {
  background: #001529;
  color: white;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

.ant-layout-content {
  flex: 1;
}
